*{
    margin: 0;
    padding: 0;
}
.header_top{
    width: 100%;
    background-color: #000;
}
.nav_area{
    height: 44px;
    width: 960px;
    margin: 0 auto;
}
/*login_reg*/
.login_right{
    width: 150px;
    font-size: 12px;
    float: right;
}
.login_right li{
    float: left;
    line-height: 25px;
    list-style: none;
    padding: 10px;
}
.login_right a{
    text-decoration: none;
    color: #fff;
}
/*list info*/
.list{
    width: 300px;
    font-size: 12px;
    float: left;
}
.list li{
    float: left;
    line-height: 25px;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
.list a{
    text-decoration: none;
    color: #fff;
    padding: 10px 10px 10px 20px;

}
.list a:hover{
    color: #000;
    background-color: #fff;
    border-bottom: 2px solid;
    border-bottom-color: red;
}
/*logo search*/
#header2 {
    background-color: #f8f8f8;
    height: 86px;
    width: 100%;
}
#header2 .header2_con {
    /*border: 1px solid red;*/
    width: 960px;
    height: 86px;
    margin: 0 auto;
    clear: both;
    /*display: inline;*/

}
#header2 .logo {
    /*border: 1px solid red;*/
    width: 232px;
    height: 60px;
    margin-top: 13px;
    float: left;
    /*width: 125px;*/
}
#header2 .logo a{
    color: #000;
    text-decoration: none;
}
#header2 .tool1 {
    float: right;
}
#header2 .search {
    border: 1px solid #999999;
    display: inline;
    float: left;
    height: 26px;
    margin: 30px 0 0 70px;
    text-align: left;
    width: 375px;
}
#header2 #searchKeyword {
    background-color: #fff;
    border: medium none;
    color: #aaa;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-indent: 10px;
    width: 340px;
}
#header2 .btn-sear {
    border: medium none;
    cursor: pointer;
    height: 26px;
    width: 35px;
}
/*content area*/
.content{
    width: 100%;
    /*border: 1px solid red;*/
    background-color: #e3e3e3;
}
.content .product-list{
    width: 960px;
    margin: 0 auto;
}
.content .product-list .brick-list{
    padding: 5px;
    /*clear: both;*/
}
.content .product-list .brick-item{
    width: 220px;
    text-align: center;
    list-style: none;
    line-height: 33px;
    margin: 10px 0 0 10px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s linear 0s;
    background-color: #fff;
}
.content .product-list .brick-item:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0 ,-2px,0 );
}
.content .product-list .title a{
    font-size: 15px;
    text-decoration: none;
    color: #333333;
    /*background-color: #fff;*/
}
.content .product-list .desc{
    font-size: 12px;
    color: #bbbbbb;
}
.content .product-list .price{
    color: #d43f3a;
}
/*prepage*/
.content .prepage a{
    float:left;
    text-decoration:none;
    padding:.5em 1em;
    color:#ff0000;
    font-weight:bold;
}
.content .nextpage a{
    float:right;
    text-decoration:none;
    padding:.5em 1em;
    color:#ff0000;
    font-weight:bold;
}
.content .prepage a:hover,.nextpage a:hover{
    text-decoration:none;
    background-color:#ff0000;
    color:#f9f9f9;
    transition:color .2s linear;
}
